.mat-dialog-content {
    height: 60vh;
    width: 55vw;

    form {
        display: flex;
        flex-direction: column;
    }
}

.mat-dialog-actions button:first-child {
    margin-left: auto;
}

.command-textarea {
    min-height: 10em;
}