.mat-dialog-content {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 50vw;
}

.mat-dialog-actions button:first-child {
    margin-left: auto;
}

.command-textarea {
    min-height: 10em;
}